:root {
  --cell-dimention: 25px;
}

.root {
  display: grid;
  grid-template-columns: repeat(10, var(--cell-dimention));
  gap: 0;
  place-content: center;
  place-items: center;
}

.root > div {
  border: 1px solid black;
  width: var(--cell-dimention);
  height: var(--cell-dimention);
  padding: 0;
  margin: 0;
}

.dead {
  background-color: white;
}
.alive {
  background-color: red;
}
