html,
body {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.board {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
